<p id="notice"><%= notice %></p>

Name: <%= @ride.name %>

Tickets: <%= @ride.tickets %>

Nausea Rating: <%= @ride.nausea_rating %>

Happiness Rating: <%= @ride.happiness_rating %>

Minimum Height: <%= @ride.min_height %>

<%= link_to 'Edit', edit_ride_path(@ride) %>
<%= link_to 'Back', rides_path %>
